.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
}

.element {
    width: 50px;
    height: 50px;
    background: rgba(40, 180, 133, 0.8);
    border: 1px solid black;
}